@import "./variables.css";
@import "./components.css";
@import "./responsive.css";

body
{
  height: fit-content;
  padding: 2rem;
  display: flex;
  justify-content: center;

  font-family: var(--ff-normal);

  transition: all 0.5s ease-in;
}

h2
{
  font-size: var(--fs-h2);
}

h3
{
  font-size: var(--fs-h3);
}

.accordion
{
  width: 375px;
  padding: 1.5rem;
  margin: 2rem 0;

  border: 1px solid;
  border-radius: 1rem;

  background-color: white;

}

.accordion > *
{
  margin-bottom: 1rem;
  text-align: left;
}

.background
{
  top: 0;
  z-index: -1;
  position: absolute;
}

.accordion__item
{
  border: 1px solid violet;
}

.accordion__title, .accordion__question
{
  margin-bottom: 1rem;
  display: flex;
  /* gap: 1rem; */

  border: 1px solid;
}

.accordion__question
{
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.accordion__question::after
{
  right: 0;
  content: "###";
  height: 32px;
  color: transparent;
  border: 1px solid;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../assets/images/icon-plus.svg');
}

.accordion__question:hover:after
{
  background-image: url('../assets/images/icon-minus.svg'); 
}

.accordion__answer
{
  display: none;
  border: 1px solid chartreuse;
}


.accordion__item:hover .accordion__answer,
.accordion__item:active .accordion__answer
{

  display: block;
}










.attribution
{
  left:   50%;
  bottom:   0;
  position: absolute;

  border: 1px solid var(--clr-dark-purple);

  transform: translate(-50%);
}