@import "./variables.css";
@import "./components.css";
@import "./responsive.css";

body
{
  height: fit-content;
  padding: 2rem;
  display: flex;
  justify-content: center;

  font-family: var(--ff-normal);

  transition: all 0.5s ease-in;
}

.background
{
  top: 0;
  z-index: -1;
  position: absolute;
}

h2
{
  font-size: var(--fs-h2);
}

h3
{
  font-size: var(--fs-h3);
}





/*************************************************\
*            The accordion UI component           *
\*************************************************/
.accordion
{
  min-width: 192px;
  max-width: 375px;
  padding: 1.5rem;
  margin: 2rem 0;

  border: 1px solid;
  border-radius: 1rem;

  background-color: white;
}

.accordion > *
{
  margin-bottom: 1rem;
  text-align: left;
}

.accordion__title, .accordion__question
{
  margin-bottom: 1rem;
  display: flex;
}

.accordion__answer
{
  opacity: 0;
}



/*-----Accordion properties and changing states-----*/
.accordion__question
{
  position: relative;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.accordion__question::after
{
  right: 0;
  content: "###";
  height: 32px;
  color: transparent;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../assets/images/icon-plus.svg');
}

.accordion__question:hover:after
{
  background-image: url('../assets/images/icon-minus.svg'); 
}

.accordion__item
{
  height: 4rem;
  overflow: hidden;
  transition: height .4s ease-in;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__item:is(:hover, :active)
{
  height: 14rem;
}

.accordion__item:is(:hover, :active) .accordion__answer
{
  opacity: 1;
}




/*************************************************\
*                 Attribution footer              *
\*************************************************/
.attribution
{
  left:   50%;
  bottom:   0;
  position: absolute;

  border: 1px solid var(--clr-dark-purple);

  transform: translate(-50%);
}